[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Ryan Lalchand
	email = 70449616+ryanlalchand@users.noreply.github.com

[core]
	editor = nano

[core]
	editor = code --wait
	excludesfile = /Users/ryan/.gitignore_global
